.card{
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}
.blue{
    background-color: rgb(83, 52, 187);
}
.red{
    background-color: rgb(179, 28, 80);
}
.green{
    background-color: rgb(28, 145, 20);
}
.yellow{
    background-color: rgb(173, 144, 15);
}