
<mat-list role="list">

    <div class="profile-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTengIZI5bhFx56RXPatQ6CCybGBQGsRR9rNA&usqp=CAU" alt="">
        <h3>Admin</h3>
        <h4>admin123@gmail.com</h4>
    </div>

    <mat-divider></mat-divider>
    <h3 mat-subheader>Pages</h3>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Institution</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Placement</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistics</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Courses</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Offers</a>
</mat-list>
  